In [1]:
import datetime
import itertools
import os
import pathlib
import sklearn

import numpy as np
import pandas as pd
import plotly.graph_objects as go
import seaborn as sns
import scipy.stats as stats

from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.linear_model import SGDClassifier

In [2]:
## from: https://www2.1010data.com/documentationcenter/prod/Tutorials/MachineLearningExamples/CensusIncomeDataSet.html
header_names = [
    'age',
    'class_worker',
    'det_ind_code',
    'det_occ_code',
    'education',
    'wage_per_hour',
    'hs_college',
    'marital_stat',
    'major_ind_code',
    'major_occ_code',
    'race',
    'hisp_origin',
    'sex',
    'union_member',
    'unemp_reason',
    'full_or_part_emp',
    'capital_gains',
    'capital_losses',
    'stock_dividends',
    'tax_filer_stat',
    'region_prev_res',
    'state_prev_res',
    'det_hh_fam_stat',
    'det_hh_summ',
    'instance_weight', ## this field is not used as a feature
    'mig_chg_msa',
    'mig_chg_reg',
    'mig_move_reg',
    'mig_same',
    'mig_prev_sunbelt',
    'num_emp',
    'fam_under_18',
    'country_father',
    'country_mother',
    'country_self',
    'citizenship',
    'own_or_self',
    'vet_question',
    'vet_benefits',
    'weeks_worked',
    'year',
    'income_50k',
]

In [3]:
data_dir = os.path.join(pathlib.Path(os.getcwd()).parent, 'data')
df = pd.read_csv(os.path.join(data_dir, 'census-income.data.csv'), header=None, names=header_names)
df_test = pd.read_csv(os.path.join(data_dir, 'census-income.test.csv'), header=None, names=header_names)
df = pd.concat([df,df_test]) ## the test file is also labelled so they can be merged
df.drop(columns=['instance_weight']) ## not used for our analysis

,age,class_worker,det_ind_code,det_occ_code,education,wage_per_hour,hs_college,marital_stat,major_ind_code,major_occ_code,...,country_father,country_mother,country_self,citizenship,own_or_self,vet_question,vet_benefits,weeks_worked,year,income_50k
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,- 50000.
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99757,14,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,95,- 50000.
99758,61,Private,8,36,11th grade,0,Not in universe,Separated,Manufacturing-durable goods,Machine operators assmblrs & inspctrs,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.
99759,24,Self-employed-not incorporated,1,43,7th and 8th grade,0,Not in universe,Married-civilian spouse present,Agriculture,Farming forestry and fishing,...,Mexico,Mexico,Mexico,Foreign born- U S citizen by naturalization,0,Not in universe,2,52,94,- 50000.
99760,30,Private,45,2,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Other professional services,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.
99761,67,Not in universe,0,0,9th grade,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,94,- 50000.

In [4]:
categorical_features = [
    'class_worker',
    'det_ind_code',
    'det_occ_code',
    'education',
    'hs_college',
    'marital_stat',
    'major_ind_code',
    'major_occ_code',
    'race',
    'hisp_origin',
    'sex',
    'union_member',
    'unemp_reason',
    'full_or_part_emp',
    'tax_filer_stat',
    'region_prev_res',
    'state_prev_res',
    'det_hh_fam_stat',
    'det_hh_summ',
    'mig_chg_msa',
    'mig_chg_reg',
    'mig_move_reg',
    'mig_same',
    'mig_prev_sunbelt',
    'fam_under_18',
    'country_father',
    'country_mother',
    'country_self',
    'citizenship',
    'own_or_self',
    'vet_question',
    'vet_benefits',
    'year',
]
df[categorical_features] = df[categorical_features].astype('category')

In [5]:
### Drop columns not used in modelling
df = df.drop(
    columns=[
        'state_prev_res',
        'country_father',
        'country_mother',
        'country_self',
    ]
)

In [6]:
def get_model(classifier, numeric_features, categorical_features):
    ### Scale numerical, one hot categorical
    numeric_transformer = Pipeline(
        steps=[
            #('imputer', SimpleImputer(strategy='median')),
            ('scaler', StandardScaler()),
        ]
    )
    categorical_transformer = Pipeline(
        steps=[
            #('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
            ('onehot', OneHotEncoder(handle_unknown='ignore')),
        ]
    )
    preprocessor = ColumnTransformer(
        transformers=[
            ('num', numeric_transformer, numeric_features),
            ('cat', categorical_transformer, categorical_features)]
    )
    model = Pipeline(
        steps=[
            ('preprocessor', preprocessor),
            ('classifier', classifier),
        ]
    )
    
    return model

In [7]:
### Find the numerical/ categorical features
target = 'income_50k'
numeric_features = df.select_dtypes(include=['int64', 'float64']).columns
categorical_features = df.select_dtypes(include=['object','bool', 'category']).drop([target], axis=1).columns

X = df.drop(target, axis=1)
y = df[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)


param_scores = {}


class_weights =  [None, 'balanced']
penalties = ['none','l1', 'l2',]
solvers = ['lbfgs', 'liblinear']



for cw in class_weights:
    for penalty in penalties:
        for solver in solvers:
            if solver == 'lbfgs' and penalty == 'l1': 
                continue
            if solver == 'liblinear' and penalty == 'none': 
                continue
            params = (cw, penalty, solver)
            print(params)

            classifier = LogisticRegression(class_weight=cw, penalty=penalty, solver=solver, max_iter=100000)
            model = get_model(classifier, numeric_features, categorical_features)
            model.fit(X_train,y_train)
            y_pred = model.predict(X_test)

            acc = accuracy_score(y_pred, y_test)
            param_scores[params] = acc
            print(acc)

print('=' * 60)
for params, score in param_scores.items():
    print(params, score)

(None, 'none', 'lbfgs')
0.952703944400822
(None, 'l1', 'liblinear')
0.9528208897873265
(None, 'l2', 'lbfgs')
0.9527206508846083
(None, 'l2', 'liblinear')
0.9526872379170356
('balanced', 'none', 'lbfgs')
0.8561571745994621
('balanced', 'l1', 'liblinear')
0.8560903486643167
('balanced', 'l2', 'lbfgs')
0.8562240005346075
('balanced', 'l2', 'liblinear')
0.8562407070183938
============================================================
(None, 'none', 'lbfgs') 0.952703944400822
(None, 'l1', 'liblinear') 0.9528208897873265
(None, 'l2', 'lbfgs') 0.9527206508846083
(None, 'l2', 'liblinear') 0.9526872379170356
('balanced', 'none', 'lbfgs') 0.8561571745994621
('balanced', 'l1', 'liblinear') 0.8560903486643167
('balanced', 'l2', 'lbfgs') 0.8562240005346075
('balanced', 'l2', 'liblinear') 0.8562407070183938

In [8]:
X_train.info()
X_test.info()
print(y_test)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239428 entries, 18574 to 128037
Data columns (total 37 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   age               239428 non-null  int64
 1   class_worker      239428 non-null  category
 2   det_ind_code      239428 non-null  category
 3   det_occ_code      239428 non-null  category
 4   education         239428 non-null  category
 5   wage_per_hour     239428 non-null  int64
 6   hs_college        239428 non-null  category
 7   marital_stat      239428 non-null  category
 8   major_ind_code    239428 non-null  category
 9   major_occ_code    239428 non-null  category
 10  race              239428 non-null  category
 11  hisp_origin       239428 non-null  category
 12  sex               239428 non-null  category
 13  union_member      239428 non-null  category
 14  unemp_reason      239428 non-null  category
 15  full_or_part_emp  239428 non-null  category
 16  capital_gains     239428 non-null  int64
 17  capital_losses    239428 non-null  int64
 18  stock_dividends   239428 non-null  int64
 19  tax_filer_stat    239428 non-null  category
 20  region_prev_res   239428 non-null  category
 21  det_hh_fam_stat   239428 non-null  category
 22  det_hh_summ       239428 non-null  category
 23  instance_weight   239428 non-null  float64
 24  mig_chg_msa       239428 non-null  category
 25  mig_chg_reg       239428 non-null  category
 26  mig_move_reg      239428 non-null  category
 27  mig_same          239428 non-null  category
 28  mig_prev_sunbelt  239428 non-null  category
 29  num_emp           239428 non-null  int64
 30  fam_under_18      239428 non-null  category
 31  citizenship       239428 non-null  category
 32  own_or_self       239428 non-null  category
 33  vet_question      239428 non-null  category
 34  vet_benefits      239428 non-null  category
 35  weeks_worked      239428 non-null  int64
 36  year              239428 non-null  category
dtypes: category(29), float64(1), int64(7)
memory usage: 23.1 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 59857 entries, 67087 to 11760
Data columns (total 37 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               59857 non-null  int64
 1   class_worker      59857 non-null  category
 2   det_ind_code      59857 non-null  category
 3   det_occ_code      59857 non-null  category
 4   education         59857 non-null  category
 5   wage_per_hour     59857 non-null  int64
 6   hs_college        59857 non-null  category
 7   marital_stat      59857 non-null  category
 8   major_ind_code    59857 non-null  category
 9   major_occ_code    59857 non-null  category
 10  race              59857 non-null  category
 11  hisp_origin       59857 non-null  category
 12  sex               59857 non-null  category
 13  union_member      59857 non-null  category
 14  unemp_reason      59857 non-null  category
 15  full_or_part_emp  59857 non-null  category
 16  capital_gains     59857 non-null  int64
 17  capital_losses    59857 non-null  int64
 18  stock_dividends   59857 non-null  int64
 19  tax_filer_stat    59857 non-null  category
 20  region_prev_res   59857 non-null  category
 21  det_hh_fam_stat   59857 non-null  category
 22  det_hh_summ       59857 non-null  category
 23  instance_weight   59857 non-null  float64
 24  mig_chg_msa       59857 non-null  category
 25  mig_chg_reg       59857 non-null  category
 26  mig_move_reg      59857 non-null  category
 27  mig_same          59857 non-null  category
 28  mig_prev_sunbelt  59857 non-null  category
 29  num_emp           59857 non-null  int64
 30  fam_under_18      59857 non-null  category
 31  citizenship       59857 non-null  category
 32  own_or_self       59857 non-null  category
 33  vet_question      59857 non-null  category
 34  vet_benefits      59857 non-null  category
 35  weeks_worked      59857 non-null  int64
 36  year              59857 non-null  category
dtypes: category(29), float64(1), int64(7)
memory usage: 5.8 MB
67087      - 50000.
60496      - 50000.
32501      - 50000.
12944      - 50000.
148401     - 50000.
            ...
32573      - 50000.
69390      - 50000.
1213        50000+.
146800     - 50000.
11760      - 50000.
Name: income_50k, Length: 59857, dtype: object

In [12]:
regularize_const = 0.1
iterations = 10

svm_sgd_classifier = SGDClassifier(alpha=regularize_const,fit_intercept=True, l1_ratio=0.0, learning_rate='optimal',loss='hinge', n_iter_no_change=iterations, n_jobs=-1, penalty='l2')
model = get_model(svm_sgd_classifier, numeric_features, categorical_features)
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

svm_sgd_acc = accuracy_score(y_pred, y_test)
print('SVM:', svm_sgd_acc)

SVM: 0.940040429690763

In [13]:
print(svm_sgd_classifier.n_iter_)

11

In [14]:
print(svm_sgd_classifier.coef_)

[[ 1.36683078e-02 -5.54069593e-03  9.58023997e-02  7.01230471e-03
   5.54154313e-02  2.29285301e-03  9.54522067e-03  1.72583118e-02
  -8.43296258e-03 -2.07084097e-02 -1.82631923e-03 -1.90985150e-02
  -2.91755446e-02  5.75613295e-03 -1.43751447e-02 -1.81948477e-02
  -9.53027288e-04 -2.09248342e-02 -2.59329736e-03 -4.98915481e-03
   2.57810968e-03 -6.40540652e-03 -2.63506350e-03 -1.55294088e-03
  -9.90996503e-04  3.11347560e-04 -1.37068865e-03 -4.55630576e-05
   1.62508239e-03  1.68583313e-03  5.13723475e-03  1.29095330e-04
   4.02473676e-04  6.45476650e-04 -2.73378346e-04 -1.18843642e-03
  -4.27533357e-03  4.17661361e-04 -6.91039707e-04 -2.48318664e-03
   7.29008922e-04 -2.13386986e-03  6.22695121e-03  1.39726710e-03
  -5.20178241e-04 -2.20221445e-04 -5.04610863e-03  2.24018367e-03
   1.10110723e-03 -1.95541456e-03 -1.43675508e-02  2.11868218e-03
  -1.92124226e-03 -2.93881722e-03 -1.96680532e-03 -4.62844727e-03
  -5.90041596e-03 -5.68019452e-03 -3.46279238e-03 -5.58147456e-04
  -1.41093602e-02 -7.23313540e-03  4.93599791e-05 -1.31753175e-03
  -1.28715638e-03 -2.57810968e-03 -1.19223334e-03 -3.43241701e-03
  -9.34042681e-04 -2.09248342e-02 -1.82631923e-03  1.41473294e-02
  -4.47277349e-03  9.49230367e-03  4.15383209e-03 -7.66978137e-04
   1.33082097e-02 -2.70340809e-03 -6.64461257e-04 -1.04795033e-02
   1.03428141e-02 -1.40562033e-02 -2.35409131e-03 -3.21219556e-03
   1.75038080e-03  4.61705650e-03  2.09969757e-03  3.47418314e-03
  -9.10881460e-03 -1.67064545e-04  8.23931959e-04 -8.42916566e-04
  -2.33890362e-03 -2.63126658e-03 -3.43621393e-03 -1.00922173e-02
  -2.60848505e-03 -3.01095872e-03 -6.05229282e-03 -2.28574672e-03
  -7.34704304e-03 -2.65784503e-03 -2.77175267e-03 -3.96018909e-03
  -3.66402922e-03 -8.47852564e-03 -5.72575757e-03 -6.72434792e-03
  -2.00097761e-03 -1.43903324e-03 -5.08787477e-03 -6.61423720e-03
  -2.43762358e-03 -6.84205249e-03 -4.97396712e-04 -9.34042681e-04
  -1.63381531e-02 -1.33006159e-02 -6.56108030e-03 -5.60425609e-03
  -9.21512840e-03 -1.22336810e-02 -1.13338106e-02 -1.01605618e-02
  -1.07984447e-02 -2.14526063e-03 -6.42059420e-03  1.56509103e-02
  -2.67569056e-02 -2.32371594e-03  1.35815881e-02  2.02983422e-02
  -2.33472701e-02 -1.66532976e-02 -2.26068704e-02 -6.77484698e-02
  -1.39195141e-02 -3.17802327e-03 -2.75200868e-02 -5.47895768e-03
  -3.98486908e-02 -8.54307330e-03 -8.52029177e-03 -7.58245217e-03
  -9.34042681e-04 -6.59525259e-03  2.24018367e-03 -6.40540652e-03
  -1.41093602e-02 -5.68019452e-03  1.97439916e-04 -1.31753175e-03
  -3.46279238e-03  1.87947613e-03 -1.55294088e-03 -5.58147456e-04
   2.57810968e-03 -2.09248342e-02  4.93599791e-05 -5.90041596e-03
  -2.93881722e-03 -8.48991640e-03 -1.43675508e-02 -7.23313540e-03
  -5.04610863e-03  1.10110723e-03 -1.95541456e-03 -1.85175860e-02
  -9.34042681e-04  7.84823667e-03 -9.77707278e-03 -1.31411452e-02
  -1.42042832e-02 -2.09248342e-02 -1.83429276e-02 -1.03959710e-02
  -2.60848505e-03  8.62660557e-03 -3.01095872e-03  9.15058074e-04
  -3.81590608e-03 -8.72532553e-03 -8.72532553e-03 -1.81037216e-02
  -2.62860873e-02 -1.74012911e-02 -3.64922122e-02 -3.13435867e-02
  -1.27690469e-02 -9.64418053e-04 -4.65882264e-03 -1.35550096e-03
  -1.79936108e-02 -1.36954957e-02 -3.62606000e-03 -8.15578731e-03
  -1.24463086e-02 -6.66815348e-02 -4.03271029e-02 -3.28205892e-02
  -5.64640191e-02 -1.77240294e-02 -7.19896310e-03 -9.90237119e-03
  -1.82631923e-03 -5.72689665e-02 -1.57116610e-02 -1.51003567e-02
  -6.87166847e-02 -4.37785045e-03 -7.13441544e-03 -7.51790451e-04
  -1.83770999e-03 -3.03753717e-03 -1.40713910e-02 -7.08125854e-03
  -1.43219878e-02 -1.25374347e-02 -8.71773169e-03 -8.57344867e-03
  -2.31991902e-02 -3.96588447e-02 -5.36884696e-03 -1.14211398e-02
  -6.25352966e-03 -5.66538652e-02 -1.48421660e-02 -1.24690901e-02
  -2.68442348e-03 -3.79312455e-03 -8.64179326e-03 -4.59427498e-04
  -9.83402660e-04 -3.79692147e-05 -3.11347560e-04  0.00000000e+00
  -2.14905755e-02  0.00000000e+00 -1.60989470e-03 -4.17661361e-05
  -6.83445864e-05  0.00000000e+00 -2.16424524e-04 -3.79692147e-06
  -4.17661361e-05  0.00000000e+00 -1.48459629e-03 -1.34031328e-03
  -1.60154148e-02 -9.34042681e-04 -4.78032413e-03 -3.12866329e-03
  -3.93361064e-03 -1.21501487e-04 -1.57192549e-03 -2.98438027e-03
   0.00000000e+00 -8.35322723e-05 -9.41636524e-04 -1.89086689e-03
   0.00000000e+00  0.00000000e+00 -2.53254662e-03 -8.61521481e-03
  -1.17704566e-04 -1.61483070e-02 -1.65621714e-02 -3.49316775e-04
  -2.14905755e-02 -6.91039707e-04 -2.08640835e-02 -1.28791576e-02
  -1.78531247e-02 -1.63191685e-02 -3.67807783e-02 -4.25255204e-03
  -1.03276264e-03 -2.27473565e-02 -6.01052668e-03 -4.35127200e-03
  -9.81883892e-03 -1.80657523e-02 -2.14146371e-03 -1.80733462e-03
  -3.67807783e-02 -5.36884696e-03 -1.08364139e-02 -2.70720501e-03
  -6.62942488e-03 -7.13821236e-03 -1.80657523e-02 -1.80733462e-03
  -1.76746694e-02 -3.67807783e-02 -5.36884696e-03 -1.08364139e-02
  -3.69060767e-03 -2.82490957e-03 -5.93079133e-03 -4.02853368e-03
  -1.80657523e-02 -1.80733462e-03 -1.76746694e-02 -5.03547725e-02
  -3.85881129e-02 -1.80657523e-02 -3.67807783e-02 -2.98741781e-02
  -1.98730870e-02 -2.04805944e-02 -1.54079073e-02 -1.84530383e-03
  -8.58483944e-03 -3.35647858e-03 -7.78141086e-02 -3.03905594e-02
  -2.05337513e-02 -9.92515272e-03 -1.06085986e-02 -3.55505757e-02
  -5.08673569e-02 -1.54458765e-02 -4.06954043e-02 -2.20145507e-02
  -7.92759233e-02 -5.71816373e-03 -6.42059420e-03 -2.77327144e-02
  -7.28553291e-02 -7.02278595e-02 -3.67807783e-02]]