In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
header_names = [
    'age',
    'class_worker',
    'det_ind_code',
    'det_occ_code',
    'education',
    'wage_per_hour',
    'hs_college',
    'marital_stat',
    'major_ind_code',
    'major_occ_code',
    'race',
    'hisp_origin',
    'sex',
    'union_member',
    'unemp_reason',
    'full_or_part_emp',
    'capital_gains',
    'capital_losses',
    'stock_dividends',
    'tax_filer_stat',
    'region_prev_res',
    'state_prev_res',
    'det_hh_fam_stat',
    'det_hh_summ',
    'instance_weight', ## this field is not used as a feature
    'mig_chg_msa',
    'mig_chg_reg',
    'mig_move_reg',
    'mig_same',
    'mig_prev_sunbelt',
    'num_emp',
    'fam_under_18',
    'country_father',
    'country_mother',
    'country_self',
    'citizenship',
    'own_or_self',
    'vet_question',
    'vet_benefits',
    'weeks_worked',
    'year',
    'income_50k',
]

In [3]:
# df1=pd.read_csv("../input/ml1-project/census-income.data.csv",header = None, names = header_names)
# df2=pd.read_csv("../input/testset/census-income.test.csv",header = None, names = header_names)

df1=pd.read_csv("data/census-income.data.csv",header = None, names = header_names)
df2=pd.read_csv("data/census-income.test.csv",header = None, names = header_names)

df = pd.concat([df1, df2]) #The test file, labeled so it can be merged with original 
df.drop(columns = ['instance_weight'])

,age,class_worker,det_ind_code,det_occ_code,education,wage_per_hour,hs_college,marital_stat,major_ind_code,major_occ_code,...,country_father,country_mother,country_self,citizenship,own_or_self,vet_question,vet_benefits,weeks_worked,year,income_50k
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,- 50000.
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99757,14,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,95,- 50000.
99758,61,Private,8,36,11th grade,0,Not in universe,Separated,Manufacturing-durable goods,Machine operators assmblrs & inspctrs,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.
99759,24,Self-employed-not incorporated,1,43,7th and 8th grade,0,Not in universe,Married-civilian spouse present,Agriculture,Farming forestry and fishing,...,Mexico,Mexico,Mexico,Foreign born- U S citizen by naturalization,0,Not in universe,2,52,94,- 50000.
99760,30,Private,45,2,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Other professional services,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.
99761,67,Not in universe,0,0,9th grade,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,94,- 50000.

In [ ]:
# ## Create a new variable for classification based of if the person recieved a 
# ## college degree
# higer_degrees = [
#     ' Bachelors degree(BA AB BS)', 
#     ' Masters degree(MA MS MEng MEd MSW MBA)', 
#     ' Prof school degree (MD DDS DVM LLB JD)',
#     ' Doctorate degree(PhD EdD)',
# ]
# 
# df['graduated'] = 'no'
# df.loc[df['education'].isin(higer_degrees), 'graduated'] = 'yes'

In [ ]:
# df.shape
# df.head()
# list(df.columns)

In [ ]:
# sns.scatterplot(data=df, x="capital_gains", y="age", hue="income_50k", alpha=.4)#

In [ ]:
# sns.scatterplot(data=df, x="capital_losses", y="age", hue="income_50k", alpha=.4)

In [ ]:
# sns.scatterplot(data=df, x="stock_dividends", y="age", hue="income_50k", alpha=.4)

In [4]:
cols_to_keep=[
    'age', 
    'education', 
    'race', 
    'sex', 
    'capital_gains', 
    'capital_losses', 
    'stock_dividends', 
    'tax_filer_stat', 
    'det_hh_summ', 
    'own_or_self', 
    'vet_benefits', 
    'weeks_worked',
    'income_50k'
]

df_trunc = df.loc[:,cols_to_keep]

df_trunc.head()

,age,education,race,sex,capital_gains,capital_losses,stock_dividends,tax_filer_stat,det_hh_summ,own_or_self,vet_benefits,weeks_worked,income_50k
0,73,High school graduate,White,Female,0,0,0,Nonfiler,Other relative of householder,0,2,0,- 50000.
1,58,Some college but no degree,White,Male,0,0,0,Head of household,Householder,0,2,52,- 50000.
2,18,10th grade,Asian or Pacific Islander,Female,0,0,0,Nonfiler,Child 18 or older,0,2,0,- 50000.
3,9,Children,White,Female,0,0,0,Nonfiler,Child under 18 never married,0,0,0,- 50000.
4,10,Children,White,Female,0,0,0,Nonfiler,Child under 18 never married,0,0,0,- 50000.

In [5]:
df_trunc.loc[df_trunc.income_50k == " - 50000.", 'income_50k'] = "below_50k"

df_trunc.loc[df_trunc.income_50k == " 50000+.", 'income_50k'] = "above_50k"

# df_trunc["income_50k"].unique()

In [6]:
ind_cols=['education', 'race', 'sex', 'tax_filer_stat', 'det_hh_summ', "own_or_self", "vet_benefits", "income_50k"]

# df_trunc.loc[:,ind_cols].head()

for col in ind_cols:
    df_trunc[col] = df_trunc[col].astype('category')
    
# df_trunc.info()

In [7]:
tmp_df = pd.get_dummies(df_trunc['income_50k'])

df_trunc = pd.concat((df_trunc,tmp_df),axis=1)

df_trunc=df_trunc.drop(['income_50k', 'below_50k'], axis=1)

print(list(df_trunc.columns))

print(df_trunc.head())

['age', 'education', 'race', 'sex', 'capital_gains', 'capital_losses', 'stock_dividends', 'tax_filer_stat', 'det_hh_summ', 'own_or_self', 'vet_benefits', 'weeks_worked', 'above_50k']
   age                    education                        race      sex  \
0   73         High school graduate                       White   Female
1   58   Some college but no degree                       White     Male
2   18                   10th grade   Asian or Pacific Islander   Female
3    9                     Children                       White   Female
4   10                     Children                       White   Female

   capital_gains  capital_losses  stock_dividends      tax_filer_stat  \
0              0               0                0            Nonfiler
1              0               0                0   Head of household
2              0               0                0            Nonfiler
3              0               0                0            Nonfiler
4              0               0                0            Nonfiler

                      det_hh_summ own_or_self vet_benefits  weeks_worked  \
0   Other relative of householder           0            2             0
1                     Householder           0            2            52
2               Child 18 or older           0            2             0
3    Child under 18 never married           0            0             0
4    Child under 18 never married           0            0             0

   above_50k
0          0
1          0
2          0
3          0
4          0

In [8]:
y = df_trunc['above_50k']

X = df_trunc.drop('above_50k', axis=1)

In [9]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, GridSearchCV

cols_to_scale = ['capital_gains', 'capital_losses', 'stock_dividends']

scaler = StandardScaler()

# categorical_features = ['embarked', 'sex', 'pclass']
cat_cols = ind_cols[:-1]

one_encode = OneHotEncoder()

preprocessor = ColumnTransformer(
    transformers=[
        ('num', scaler, cols_to_scale),
        ('cat', one_encode, cat_cols)])

# Append classifier to preprocessing pipeline.
# Now we have a full prediction pipeline.
lr_clf = Pipeline(steps=[('preprocessor', preprocessor),
                      ('lr_classifier', LogisticRegression(max_iter=100000))])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

lr_clf.fit(X_train, y_train)
print("model score: " + str(round((lr_clf.score(X_test, y_test) * 100),2)) + "%")

model score: 94.87%

In [11]:
from sklearn import metrics as mt

y_hat = lr_clf.predict(X_test) 

acc = mt.accuracy_score(y_test,y_hat)
# prec = mt.precision_score(y_test,y_hat)
# recall = mt.recall_score(y_test,y_hat)
conf = mt.confusion_matrix(y_test,y_hat)



print("accuracy", acc )
# print("precision",prec)
# print("recall",recall)
print("confusion matrix\n",conf)

accuracy 0.9487110947758826
confusion matrix
 [[55859   412]
 [ 2658   928]]

In [12]:
fpr, tpr, thresholds = mt.roc_curve(y_test, y_hat, pos_label=1)
mt.auc(fpr, tpr)

0.6257312248094912

In [22]:
from sklearn.linear_model import SGDClassifier

sgd_clf = Pipeline(steps=[('preprocessor', preprocessor),
                      ('lr_classifier', SGDClassifier(loss="hinge", penalty="l2", max_iter=100))])


# clf = SGDClassifier(loss="hinge", penalty="l2", max_iter=5)
# sgd_clf.fit(X, y)
# SGDClassifier(max_iter=5)
sgd_clf.fit(X_train, y_train)
print("model score: " + str(round((sgd_clf.score(X_test, y_test) * 100),2)) + "%")

model score: 94.69%

In [13]:
# from sklearn.svm import SVC
# 
# svm_clf = Pipeline(steps=[('preprocessor', preprocessor),
#                       ('svm_classifier', SVC(kernel='rbf', degree=3, gamma='auto'))])
# 
# # svm_clf = SVC(C=0.5, kernel='rbf', degree=3, gamma='auto')
# 
# # Fit the model to the training data
# svm_clf.fit(X_train, y_train)
# 
# # Calculate accuracy scores on both train and test data
# accuracy_train = accuracy_score(y_train, svm_clf.predict(X_train))
# accuracy_test = accuracy_score(y_test, svm_clf.predict(X_test))
# 
# print("{0:.1%} accuracy on test set vs. {1:.1%} on training set".format(accuracy_test, accuracy_train))

In [14]:
# from sklearn.feature_selection import RFE
# # Create the RFE with a LogisticRegression estimator and 3 features to select
# rfe = RFE(estimator=LogisticRegression(), n_features_to_select=10, verbose=1)
# 
# # Fits the eliminator to the data
# rfe.fit(X_train, y_train)
# 
# # Print the features and their ranking (high = dropped early on)
# print(dict(zip(X.columns, rfe.ranking_)))
# 
# # Print the features that are not eliminated
# print(X.columns[rfe.support_])
# 
# # Calculates the test set accuracy
# acc = accuracy_score(y_test, rfe.predict(X_test))
# print("{0:.1%} accuracy on test set.".format(acc)) 




## https://scikit-learn.org/stable/auto_examples/feature_selection/plot_rfe_digits.html#sphx-glr-auto-examples-feature-selection-plot-rfe-digits-py

## https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html